body {
  position: relative;
  margin: 0;
  overflow: hidden;
}

p {
  margin: 0;
}

.intro-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  text-align: center;
  margin: 0 auto;
  right: 0;
  left: 0;
  z-index: 1;
}
.portfolio{
  text-align: center;
  background: url("../images/logo.png");
  background-size: cover;
  height: 115px;
  width: 160px;
  background-repeat: no-repeat;
}
.resurrection{
  /* margin-top: 15px !important; */
  font-size: 22px !important;
}
h1 {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 20px;
}
@media screen and (min-width: 860px) {
  h1 {
    font-size: 40px;
    line-height: 52px;
  }
}

.fancy-text {
  font-family: "adobe-garamond-pro",sans-serif;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 17px;
}

.button {
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-family: 'brandon-grotesque', sans-serif;
  text-transform: uppercase;
  min-width: 200px;
  margin-top: 30px;
}
.button:hover .border {
  box-shadow: 0px 0px 10px 0px white;
}
.button:hover .border .left-plane, .button:hover .border .right-plane {
  transform: translateX(0%);
}
.button:hover .text {
  color: #121212;
}
.button .border {
  border: 1px solid white;
  transform: skewX(-20deg);
  height: 32px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  transition: .10s ease-out;
}
.button .border .left-plane, .button .border .right-plane {
  position: absolute;
  background: white;
  height: 32px;
  width: 100px;
  transition: .15s ease-out;
}
.button .border .left-plane {
  left: 0;
  transform: translateX(-100%);
}
.button .border .right-plane {
  right: 0;
  transform: translateX(100%);
}
.button .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: .15s ease-out;
}

.x-mark {
  right: 10px;
  top: 10px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
}
.x-mark:hover .right {
  transform: rotate(-45deg) scaleY(1.2);
}
.x-mark:hover .left {
  transform: rotate(45deg) scaleY(1.2);
}
.x-mark .container {
  position: relative;
  width: 20px;
  height: 20px;
}
.x-mark .left, .x-mark .right {
  width: 2px;
  height: 20px;
  background: white;
  position: absolute;
  border-radius: 3px;
  transition: .15s ease-out;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.x-mark .right {
  transform: rotate(-45deg);
}
.x-mark .left {
  transform: rotate(45deg);
}

.sky-container {
  position: absolute;
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 2%;
  text-align: center;
  opacity: 0;
}
@media screen and (min-width: 860px) {
  .sky-container {
    top: 18%;
    right: 12%;
    left: auto;
  }
}
.sky-container__left, .sky-container__right {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
}
.sky-container__left h2, .sky-container__right h2 {
  font-family: 'brandon-grotesque', sans-serif;
  font-size: 26px;
  line-height: 26px;
  margin: 0;
}
@media screen and (min-width: 860px) {
  .sky-container__left h2, .sky-container__right h2 {
    font-size: 72px;
    line-height: 68px;
  }
}
.sky-container__left {
  margin-right: 5px;
  margin-top: 40px;
}
.sky-container .thirty-one {
  letter-spacing: 4px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.twitter:hover a {
  transform: rotate(-45deg) scale(1.05);
}
.twitter:hover i {
  color: #21c2ff;
}
.twitter a {
  bottom: -40px;
  right: -75px;
  transform: rotate(-45deg);
}
.twitter i {
  bottom: 7px;
  right: 7px;
  color: #00ACED;
}

.social-icon a {
  position: absolute;
  background: white;
  color: white;
  box-shadow: -1px -1px 20px 0px rgba(0, 0, 0, 0.3);
  display: inline-block;
  width: 150px;
  height: 80px;
  transform-origin: 50% 50%;
  transition: .15s ease-out;
}
.social-icon i {
  position: absolute;
  pointer-events: none;
  z-index: 1000;
  transition: .15s ease-out;
}

.youtube:hover a {
  transform: rotate(45deg) scale(1.05);
}
.youtube:hover i {
  color: #ec4c44;
}
.youtube a {
  bottom: -40px;
  left: -75px;
  transform: rotate(45deg);
}
.youtube i {
  bottom: 7px;
  left: 7px;
  color: #E62117;
}

.res-page {
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.res-page > img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
}

#res-title {
  position: absolute;
  top: 13.5%;
  width: 200px;
  height: 40px;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  font-weight: 1000;
  font-size: 24px;
  color: #660b0a;
  z-index: 100;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#canvas-res {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 350px;
  margin-top: -175px;
  margin-left: -150px;
  z-index:10;
}

.res-desc{
  width: 85vw;
  height: 80px;
  margin: 0 auto;
  border-radius: 20px;
  background: #fff;
  z-index: 100;
}

.res-desc #res-desc-left {
  position: absolute;
  left: 20px;
  height: 100%;
  padding-left: 20px;
}

#res-desc-tips {
  font-size: 14px;
  height: 30px;
  line-height: 40px;
  color: #ccc;
  margin: 0;
}

.res-desc #res-desc-desc {
  font-size: 24px;
  color: #000;
  height: 40px;
  line-height: 40px;
  font-weight: 1000;
  margin: 0;
}

#res-img {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  margin-top: -30px;
  right: 30px;
}

#share {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 100px;
  height: 30px;
  margin-top: -25px;
  margin-left: -50px;
  z-index: 100;
  background: rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

#share-box {
  width: 220px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}

#res-share {
  position: absolute;
  left: 7.5%;
  bottom: 5%;
  width: 85vw;
  height: 80px;
  margin: 0 auto;
  border-radius: 20px;
  background: #fff;
  z-index: 100;
  border: 1px solid #333;
  display: none;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}